{% extends 'base.html' %}
{% block title %}Termos de Uso{% endblock %}

{% block content %}
<div class="container py-5">
    <h1 class="display-4 text-center mb-4">Termos de Uso</h1>
    <p class="lead text-center mb-5">Bem-vindo ao HelpPocket! Ao acessar e utilizar este aplicativo, você concorda com os seguintes termos e condições. Por favor, leia atentamente antes de utilizar nossos serviços.</p>

    <div class="card shadow-lg mb-4">
        <div class="card-body">
            <h2 class="h4">1. Aceitação dos Termos</h2>
            <p>Ao utilizar o HelpPocket, você concorda com os termos e condições descritos nesta página. Caso não concorde com algum dos termos, solicitamos que não utilize o aplicativo.</p>
        </div>
    </div>

    <div class="card shadow-lg mb-4">
        <div class="card-body">
            <h2 class="h4">2. Uso do Aplicativo</h2>
            <p>O HelpPocket permite que os usuários registrem entradas e saídas financeiras, bem como visualizem gráficos e relatórios relacionados a suas finanças pessoais. O uso do aplicativo é pessoal e intransferível. É de sua responsabilidade garantir a precisão das informações inseridas.</p>
        </div>
    </div>

    <div class="card shadow-lg mb-4">
        <div class="card-body">
            <h2 class="h4">3. Privacidade e Proteção de Dados</h2>
            <p>O HelpPocket coleta informações financeiras fornecidas pelos usuários com o objetivo de processar transações e gerar relatórios. Seus dados serão armazenados de forma segura e não serão compartilhados com terceiros sem o seu consentimento, exceto quando exigido por lei.</p>
        </div>
    </div>

    <div class="card shadow-lg mb-4">
        <div class="card-body">
            <h2 class="h4">4. Responsabilidade do Usuário</h2>
            <p>Você é responsável por manter a confidencialidade das informações da sua conta, incluindo sua senha. O HelpPocket não se responsabiliza por qualquer perda ou dano resultante do uso indevido de sua conta ou de informações incorretas fornecidas pelo usuário.</p>
        </div>
    </div>

    <div class="card shadow-lg mb-4">
        <div class="card-body">
            <h2 class="h4">5. Limitação de Responsabilidade</h2>
            <p>O HelpPocket não garante a precisão ou integridade das informações financeiras fornecidas pelos usuários. Além disso, não nos responsabilizamos por quaisquer erros ou omissões nas funcionalidades do aplicativo. O uso do aplicativo é por sua conta e risco.</p>
        </div>
    </div>

    <div class="card shadow-lg mb-4">
        <div class="card-body">
            <h2 class="h4">6. Modificações nos Termos</h2>
            <p>Reservamo-nos o direito de alterar ou atualizar os Termos de Uso a qualquer momento. Qualquer alteração será publicada nesta página, e o uso continuado do aplicativo após essas modificações implica na aceitação dos novos termos.</p>
        </div>
    </div>

    <div class="card shadow-lg mb-4">
        <div class="card-body">
            <h2 class="h4">7. Cancelamento e Suspensão de Conta</h2>
            <p>O HelpPocket pode, a seu critério, suspender ou encerrar sua conta a qualquer momento, caso haja violação dos termos de uso ou comportamento inadequado. Em caso de encerramento, você não poderá mais acessar o aplicativo ou seus dados.</p>
        </div>
    </div>

    <div class="card shadow-lg mb-4">
        <div class="card-body">
            <h2 class="h4">8. Legislação Aplicável</h2>
            <p>Estes Termos de Uso são regidos pelas leis vigentes no Brasil. Qualquer disputa relacionada ao uso do aplicativo será resolvida nos tribunais da cidade em que o HelpPocket está registrado.</p>
        </div>
    </div>

    <div class="card shadow-lg mb-4">
        <div class="card-body">
            <h2 class="h4">9. Contato</h2>
            <p>Se você tiver alguma dúvida sobre os Termos de Uso ou sobre o uso do aplicativo, entre em contato conosco pelo e-mail: <a href="">suporte@helppocket(fake).com</a>.</p>
        </div>
    </div>

    <div class="text-center mt-4">
        <p><strong>Última atualização:</strong> Dezembro de 2024.</p>
    </div>
</div>
{% endblock %}
